*{
    box-sizing: border-box;
}

body{
    background-color: #131720;
    font-family: sans-serif;
}
span{
    /* padding-top: 15px; */
    color: #fff;
    font-size: smaller;
    margin: auto;
    
}

h3 {
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}

.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.topnav .search-container{
    float: right;

}

form{
    background-color: #151f30;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

input{
    all: unset;
    font: 15px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 9px;
}



.column {
    float: left;
    width: 25%;
    padding: 10px 10px;
   
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 19px;
    padding: 15px;
    text-align: center;
    background-color: #151f30;
    /* Set a fixed width for consistent card size */
    width: 215px; /* Adjust as needed */
    height: 250px; /* Adjust as needed */
  }
  
  .thumbnail {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    max-width: 100%;
    max-height: 50%; /* Prevent image overflow */
  }
  
